<div class="jumbotron">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 col-xs-2 pull-right"></div>
      <div class="col-md-4 col-xs-4 pull-right">
        <div class="well box-me">
          <h3>Login</h3>
          <%= render 'sessions/form' %>
        </div>              
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-xs-4 pull-right">
        <div class="well box-me register">
          <h3>New to Twitter?</h3>
          <h4 style="margin-bottom: 8px;">sign up</h4>
          <%= render 'form' %>
        </div>              
      </div>
    </div>
  </div>  
</div>
